PUBLIC_IP=93.115.172.151
DB_URL=
MODEL_DIR=models
ARTIFACTS_DIR=artifacts
PORT=8080
BATCH_LOOKBACK_MINUTES=999

FPR_CAP=0.01
RECALL_TGT=0.80
TEST_RATIO=0.20


# MLflow local server
MLFLOW_TRACKING_URI=

# Registry config
MLFLOW_MODEL_NAME=
MLFLOW_MODEL_ALIAS=


AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# JWT auth
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_EXPIRE_MINUTES=1


BATCH_INTERVAL_SECONDS=900
RETRAIN_EVERY_N_BATCHES = 672
